---
title: Gavin Garza
name: Gavin
---
<div class="landing" id="1">
  <div class="landing-info">
    <%= image_tag 'avatar.jpg', class: 'avatar' %>
  </div>
  <div class="description">
    <h1> Developer | <small>Based in Tokyo</small>🗼</h1>
    <p>Hi my name is Gavin and I'm a Full Stack Developer currently living in Tokyo. The technologies I have experience with are <strong>Ruby On Rails, Ruby, Javascript, HTML/CSS, Figma </strong> and <strong> Bootstrap</strong>. I enjoy building things that make life more interesting and I'm always looking to learn more. <strong>Below are a few of my most recent projects:</strong></p>
      <div class="row home-row">
        <% link_to 'http://www.kiota.xyz', target: "_blank" do %>
          <div class="col-sm-4 logo-box">
            <h2 class="logo-text" id="kiota-text">Kiota</h2>
            <%= image_tag 'kiota-test.png', class: 'avatar-app' %>
          </div>
        <% end %>
        <% link_to 'https://game-exchange1.herokuapp.com', target: "_blank" do %>
          <div class="col-sm-4 logo-box">
            <h2 class="logo-text" id="game-text">Game Exchange</h2>
            <%= image_tag 'gamepad-lb.png', class: 'avatar-app', id: 'game-icon' %>
          </div>
        <% end %>
        <% link_to 'https://mister-cocktail2020.herokuapp.com', target: "_blank" do %>
          <div class="col-sm-4 logo-box">
            <h2 class="logo-text" id="cocktail-text">Mr. Cocktail</h2>
            <%= image_tag 'cocktails.png', class: 'avatar-app' %>
          </div>
        <% end %>
      </div>
  </div>

  <h1 class="my-4 text-center page-break-header">Projects
    <small>Created by Gavin</small>
  </h1>

  <div class="project-container">
    <div class="inner-container">
      
      <!-- Project Kiota -->
      
      <div class="project-box" id="2">
        <div class="row d-block">
          <div class="col-sm-8 col-md-7 text-center">
            <a href="#">
              <%= image_tag 'kiota1.jpg', class: 'img-thumbnail k-pic'%>
            </a>
          </div>
          <div class="col-md-5 project-text">
            <h3 class="project-title">Kiota <small>Created in 5 weeks</small></h3>
            <p>kiota is an apartment-hunting app designed for people living in Tokyo, Japan. With kiota, finding an apartment has never been easier or more fun.</p>
            <p>It makes use of an engaging series of questions to gauge what is most important to the user. Then, in 'Tinder-like' style it presents the user with a series of properties they may choose to 'swipe right' or 'swipe-left' on.</p>
            <p>Once they have selected their favorites, the user can then get into contact with the property owner or real estate agent to set up a time and place to view the properties they like.</p>
            <p>kiota uses many technologies, mainly Ruby on Rails but also Javascript, Active Record database management, Bootstrap and CSS. Designed primarily for mobile applications.</p>
            <p>Find kiota here: http://www.kiota.xyz</p>
            <a class="btn btn-primary" href="#">View kiota</a>
          </div>
        </div>
      </div>
      
      <!-- Project Game Exchange -->
      <div class="project-box" id="3">
        <div class="row d-block">
          <div class="col-sm-8 col-md-7 text-center">
            <a href="#">
              <%= image_tag 'game_exchange1.png', class: 'img-thumbnail'%>
            </a>
          </div>
          <div class="col-md-5 project-text">
            <h3 class="project-title">Game Exchange <small>Created in 1 week</small></h3>
            <p>Game Exchange is an app that connects two kinds of people.</p>
            <p>People who want to rent their old games for $$$</p>
            <p>People who want to play the newest games but not have to pay the high prices to own them</p>
            <p>Both of these people can be satisfied with Game Exchange, a market place app that connects people who love their video games.</p>
            <p>Game Exchange was a project created throughout the course of 1 week by Gavin, Shouko and Nii using Ruby on Rails.</p>
            <a class="btn btn-primary" href="#">View Game Exchange</a>
          </div>
        </div>
      </div>

      <!-- Project Cocktail -->
      <div class="project-box" id="4">
        <div class="row d-block">
          <div class="col-sm-8 col-md-7 text-center">
            <a href="#">
              <%= image_tag 'cocktail1.png', class: 'img-thumbnail'%>
            </a>
          </div>
          <div class="col-md-5 project-text">
            <h3 class="project-title">Mr. Cocktail <small>Created in 2 days</small></h3>
            <p>Mister Cocktail is an app where you can create and archive your favorite cocktails!</p>
            <p>It's also possible to add the cocktail's ingredients so you never forget how to make the perfect one.</p>
            <p>Developed in 3 days using Ruby on Rails.</p>
            <a class="btn btn-primary" href="#">View Mr. Cocktail</a>
          </div>
        </div>
      </div>
        
    </div>
  </div>
</div>
