---
title: Gavin Garza
name: Gavin
---
<div class="landing">
  <div class="landing-info">
    <%= image_tag 'avatar.jpg', class: 'avatar' %>
  </div>
  <div class="description">
    <h1> Developer | Based in Tokyo 🗼</h1>
    <p>Hi my name is Gavin and I'm a Full Stack Developer currently living in Tokyo. The technologies I have experience with are <strong>Ruby On Rails, Ruby, Javascript, HTML/CSS, Figma </strong> and <strong> Bootstrap</strong>. I enjoy building things that improve the lives of others and I'm always looking to learn more. <strong>Below are a few of my recent projects:</strong></p>
      <div class="row home-row">
        <% link_to '/cocktail.html' do %>
          <div class="col-sm-4 logo-box">
            <h2 style="color: #FF9810;">Mr. Cocktail</h2>
            <%= image_tag 'cocktails.png', class: 'avatar-app' %>
          </div>
        <% end %>
        <% link_to '/kiota.html' do %>
          <div class="col-sm-4 logo-box">
            <h2 style="color: #30d384;">Kiota</h2>
            <%= image_tag 'kiota-test.png', class: 'avatar-app' %>
          </div>
        <% end %>
        <% link_to '/game_exchange.html' do %>
          <div class="col-sm-4 logo-box">
            <h2 style="color: #256d8e; font-size: 24px;">Game Exchange</h2>
            <%= image_tag 'gamepad-lb.png', class: 'avatar-app' %>
          </div>
        <% end %>
      </div>
  </div>

  <div class="project1">
    <div class="project-info">
      <h1 class="project-head" style="color: #30d384;">Kiota</h1>
      <p>kiota is an apartment-hunting app designed for people living in Tokyo, Japan. With kiota, finding an apartment has never been easier or more fun. 
      </p>
      <p>It makes use of an engaging series of questions to gauge what is most important to the user. Then, in 'Tinder-like' style it presents the user with a series of properties they may choose to 'swipe right' or 'swipe-left' on. Once they have selected their favorites, the user can then get into contact with the property owner or real estate agent to set up a time and place to view the properties they like. 
      </p>
      <p>kiota uses many technologies, mainly Ruby on Rails but also Javascript, Active Record database management, Bootstrap and CSS. Designed primarily for mobile applications. Find kiota here: http://www.kiota.xyz
      </p>
    </div>
    <div class="project-image">
      <%= image_tag 'kiota1.jpg', class: "photo"%>
    </div>
  </div>

</div>

<div class="project-container">

  <div class="card">
    <div class="project-content row">
      <div class="project-description col-12 col-xl-4">
        <div class="project-header">
          <h3>CompanyMD</h3>
          <h3>(built in 9 days)</h3>
        </div>
        <br>
        <div class="project-text">
          <p>CompanyMD is a platform that aggregates financial data and relevant news from a variety of trustworthy sources on the internet that lets users deep dive into specific companies as well as compare company financial data side-by-side.</p>
          <p>The main challenges of this project were to set realistic goals to complete within the short timeframe, prioritize these goals based on perceived value versus completion, aggregate data from reliable sources, and to display all of this information in clean and simple to understand format to cater to novices and professionals alike.</p>
          <p>My team was able to create a polished working project in the short timeframe this by utilizing the Scrum agile process framework so that each member worked independently on different tasks with priorities on tasks that blocked other workflows. Also, by spending a lot of time on searching for reliable APIs and or scrapping where we needed to, we were able to create a reliable project that users can trust.</p>
        </div>
      </div>
      <div class="project-image col-12 col-xl-8">
        <%= image_tag 'cocktail1.png', class: 'inner-image'%>
      </div>
    </div>
  </div>
        <!-- <iframe class="video" allowfullscreen="1" allowtransparency="true" src="https://www.youtube.com/embed/Wnj1kBUu7-0?mute=1&amp;modestbranding=1&amp;loop=1&amp;autoplay=1&amp;controls=0&amp;disablekb=1&amp;playlist=Wnj1kBUu7-0&amp;enablejsapi=1&amp;autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <!-- <video class="video" width="320" height="240" controls autoplay>
          <source src="../../assets/videos/CompanyMD.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video> -->
        <!-- <iframe class="video" frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" title="YouTube video player" src="https://www.youtube.com/embed/0pgXqKTgUMg?showinfo=0&amp;mute=1&amp;modestbranding=1&amp;loop=1&amp;autoplay=1&amp;controls=0&amp;disablekb=1&amp;playlist=0pgXqKTgUMg&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fwww.codechrysalis.io&amp;widgetid=1" id="widget2"></iframe> -->

  <div class="card black">
    <div class="project-content row">
      <div class="project-image col-12 col-xl-8">
        <%= image_tag 'cocktail1.png', style: "height:300px; width: 400px;"%>
      </div>
      <div class="project-description col-12 col-xl-4">
        <div class="project-header">
          <h3>FindMySensei</h3>
          <h3>(built in 5 days)</h3>
        </div>
        <br>
        <div class="project-text">
          <p>FindMySensei is a platform that links teachers with prospective students. A teacher can create a course on any subject and specify a location that they are willing to teach at. A student can search and sign up for a course. Once both parties confirm, the meet is set.</p>
          <p>As this was our first team project, the main challenge was to accustomize ourselves to working as a team as we had only worked on independent projects prior. Another major challenge was to always ensure that code pushed into production always worked.</p>
          <p>To overcome these obstacles, we utilized and set up GitHub to manage and debug our code, Trello with a Scrum agile attitude, and attentiveness to Heroku logs when something went wrong.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card white">
    <div class="project-content row">
      <div class="project-description col-12 col-xl-4">
        <div class="project-header">
          <h3>Cocktail Heaven</h3>
          <h3>(built in 1 day)</h3>
        </div>
        <br>
        <div class="project-text">
          <p>Cocktail Heaven is a simple platform where anybody can create a cocktail and the recipe by adding different amounts of ingredients to the drink; cocktails and ingredients can also be removed.</p>
          <p>This was my first rails project. The main challenge I found was becoming accustomed to CSS and design in general as I have never had to design nor implement these designs in the past by myself.</p>
          <p>I was able to create this by looking at some other websites for inspiration and then tinkering with the design during implementation, such as the creation of the modals when clicking into a drink.</p>
        </div>
      </div>
      <div class="project-image col-12 col-xl-8">
        <div class="bd-example">
          <div id="carousel-three" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carousel-three" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-three" data-slide-to="1"></li>
              <li data-target="#carousel-three" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <a target="_blank" href="https://cocktail-tengoku.herokuapp.com/"><img alt="cocktail heaven landing image" src="/assets/Cocktail Heaven Landing-226e983abfe5f9e6353152c16c9a87fa1470fd2d35ba7668dcc030c7fe456c77.png" /></a>
                <div class="carousel-caption d-none d-md-block">
                  <h5>Cocktail Heaven</h5>
                  <p>Welcome. Would you like a drink?</p>
                </div>
              </div>
              <div class="carousel-item">
                <a target="_blank" href="https://cocktail-tengoku.herokuapp.com/"><img alt="cocktail heaven drinks image" src="/assets/Cocktail Heaven Drinks-a88a3aa10dc25a1a99f7a709b384d99e1f5b2db60e22c85ae5b5d474a7a815cf.png" /></a>
                <div class="carousel-caption d-none d-md-block">
                  <h5>Drink Selection</h5>
                  <p>Choose a drink.</p>
                </div>
              </div>
              <div class="carousel-item">
                <a target="_blank" href="https://cocktail-tengoku.herokuapp.com/"><img alt="cocktail heaven drink image" src="/assets/Cocktail Heaven Drink-8aa84cdd863175a684530671ed40c25fa58939937fa183a41ce346cd1a62fad6.png" /></a>
                <div class="carousel-caption d-none d-md-block">
                  <h5>Moscow Mule</h5>
                  <p>Enjoy your drink.</p>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carousel-three" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-three" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
