---
title: Gavin Garza
name: Gavin
---
<!--  Launch local server: bundle exec middleman   -->

<div class="landing" id="1">
  <div class="landing-info">
    <%= image_tag 'avatar.jpg', class: 'avatar' %>
  </div>
  <div class="description">
    <h1> Full Stack Developer | <small>Based in Tokyo</small>🗼</h1>
    <p>Hi my name is Gavin, I'm a Full Stack Developer currently living in Tokyo. The technologies I have experience with are <strong>Vue, React, Laravel Ruby On Rails, Ruby </strong> and <strong> Adobe XD</strong>. I enjoy building things that make life more interesting and I'm always looking to learn more. <strong>Below are a few of my most recent projects:</strong></p>
      <div class="row home-row">
      <% link_to '#2', class: 'links' do %>
          <div class="col-sm-4 logo-box">
            <h2 class="logo-text" id="kiota-text">Upbond</h2>
            <%= image_tag 'upbond_logo2.png', class: 'avatar-app' %>
          </div>
        <% end %>
        <% link_to '#3', class: 'links' do %>
          <div class="col-sm-4 logo-box">
            <h2 class="logo-text" id="kiota-text">Undone</h2>
            <%= image_tag 'undone-black.png', class: 'avatar-app', style: 'border-radius: 100%' %>
          </div>
        <% end %>
        <% link_to '#4', class: 'links' do %>
          <div class="col-sm-4 logo-box">
            <h2 class="logo-text" id="kiota-text">Koala Mkt</h2>
            <%= image_tag 'koala-logo.png', class: 'avatar-app' %>
          </div>
        <% end %>
      </div>
  </div>

  <h1 class="my-4 text-center page-break-header">Projects
    <small>Created by Gavin</small>
  </h1>

  <div class="project-container">
    <div class="inner-container">

    <% data.projects.projects.each do |project| %>
      <div class="project-box" id= <%= project.id %> >
        <div class="row d-block">
          <div class="col-sm-8 col-md-7 text-center">
            <a href= <%= project.mainLink %>>
              <%= image_tag project.image, class: 'img-thumbnail'%>
            </a>
          </div>
          <div class="col-md-5 project-text">
            <h3 class="project-title"> <%= project.projectTitleMain %> <small> <%= project.projectTitleSub %> </small></h3>
            <% project.lines.each do |line| %>
              <p> <%= line %> </p>
            <% end %>
            <div class="d-flex flex-row link-btns">
              <div class="row">
                <% project.bottomLinks.each do |bottomLink| %>
                  <div 
                    class="col-md-6 col-sm-3" 
                    style="margin-bottom: 10px">
                    <a 
                      class="main-btn" 
                      href= <%= bottomLink.link %> 
                      target="_blank"> <%= bottomLink.title %>
                    </a>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    </div>
  </div>
</div>
